@font-face {
    font-family: 'Amalfi';
    src: url('assets/AMALFI\ COAST/amalficoast.ttf');
}

@font-face {
    font-family: 'Baskerville';
    src: url('assets/BASKERVILLE/baskervi.ttf');
}

@font-face {
    font-family: 'Poppins';
    src: url('assets/POPPINS/Poppins-Regular.otf');
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #000;
}

header img {
    height: 80px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

section {
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

#hero {
    display: grid;
    align-items: center;
    background: #eee;
    text-align: center;
    padding: 0;
    overflow: hidden;
    height: 750px;
    background: url('assets/landing.png') no-repeat;
    background-position: center;
    background-size: cover;
    
}

#hero div {
    text-align: center;
    width: 50vh;
    padding-left: 25%;
}

footer {
    text-align: center;
    padding: 20px;
    background: #f0f0f0;
}

/* SLIDER */

.slider {
    width: 100%;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    flex: 0 0 auto;
    width: 100%;
    /* Ajusta el ancho según sea necesario */
    height: 600px;
    /* Ajusta la altura según sea necesario */
    background-size: cover;
    background-position: center;
}

/* Cambia la anchura total de la slider según la cantidad de imágenes */
.slides {
    width: 1000%;
    /* 10 imágenes */
}

/* Configura la animación del slider */
@keyframes slide {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-100%);
    }

    45% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(-200%);
    }

    70% {
        transform: translateX(-200%);
    }

    75% {
        transform: translateX(-300%);
    }

    95% {
        transform: translateX(-300%);
    }

    100% {
        transform: translateX(0);
    }
}

/* Configura el tiempo de pausa entre cada diapositiva */
.slides {
    animation: slide 40s linear infinite;
}