@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Poppins;
  src: url("/fonts/POPPINS/Poppins-Regular.otf");
}

@font-face {
  font-family: Poppins;
  font-weight: 500;
  src: url("/fonts/POPPINS/Poppins-SemiBold.otf");
}

@layer base {

  html,
  body {
    font-family: Poppins, sans-serif;
    scroll-behavior: smooth;
    color: #231F20;
  }

  h1,
  h2,
  h3,
  button {
    font-family: Poppins, sans-serif;

  }

  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-3xl;
  }
}